
  .border {
    background-image: url('/public/img/Rectangle.png');
    background-size: cover;
    object-fit: cover;
    padding: 100px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
  }
  .news {
    padding: 4.8px 0 9.6px 0;
    text-align: center;
  }
  .news-heading {
    color: #1B1C57;
    font-size: 34px;
  }
  .news p {
    font-size: 18px;
    margin-bottom: 16px;
    margin-top: 12px;
    line-height: 1.8;
  }
  
  input[type="email"] {
    display: inline-block;
    width: 60%;
    padding: 18px 36px;
    margin: 8px 0;
    box-sizing: border-box;
    height: 70px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #B4877D;
  }
  input,
  input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 3;
    
  }
  
  .bt {
    margin-left: -160px;
    font-size: 20px;
    display: inline-block;
    font-weight: 600;
    padding: 16px 32px;
    border-radius: 10px;
  
    /* Only necessary for .btn */
    border: 1px solid #B4877D;
    cursor: pointer;
    background-color: #B4877D;
    color: #fff;
  }
  